@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  header {
    height: 100px;
    background-color: #fff;
    padding: 0 100px 0 54px;
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      h3 {
        margin-left: 5px;
        font-size: 34px;
        font-weight: 700;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      margin-left: 266px;
      font-family: 'Poppins';
      li {
        font-size: 16px;
        font-weight: 500;
        margin-right: 75px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
        a {
          text-decoration: none;
          // & = a
          &:hover {
            color: #ff6c44;
          }
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;
      margin-left: auto;
      li {
        margin-right: 45px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .Rectangle {
    background: #f9f1e7;
    width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    .margin_home {
      margin-left: 100px;
    }
    .line {
      width: 2px;
      height: 37px;
      background-color: #9f9f9f;
    }
    i {
      width: 20px;
      height: 20px;
      margin-right: 24px;
      margin-left: 14px;
    }
    a {
      text-decoration: none;
      &:hover {
        color: #ff6c44;
      }
    }
    p {
      margin-left: 34px;
    }
  }
  .infor_products {
    width: 1440px;
    height: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
    .infor_center {
      background-color: #fff;
      width: 1241.007px;
      height: 730px;
      display: flex;
      .img_product {
        margin-right: 82px;
        display: flex;
        width: 553px;
        height: 500px;
        img {
          width: 423px;
          height: 500px;
          border-radius: 10px;
        }
        .list_img {
          img {
            width: 76px;
            height: 80px;
            border-radius: 10px;
            margin-right: 31px;
            margin-bottom: 27px;
            &:hover {
              border: 1px solid #b88e2f;
            }
          }
        }
      }
      .product_details {
        h1 {
          color: #000;
          font-family: Poppins;
          font-size: 42px;
          font-style: normal;
          font-weight: 400;
          width: 282px;
          height: 63px;
        }
        .price {
          color: #9f9f9f;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          width: 173px;
          height: 36px;
        }
        .Evaluate {
          display: flex;
          margin-top: 15px;
          //   margin-bottom: 18px;
          align-items: center;
          i {
            margin-right: 10px;
          }
          .line2 {
            border-right: 2px solid #9f9f9f;
          }
          p {
            margin-left: 22px;
            color: #9f9f9f;
            font-family: Poppins;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
          }
        }
        .infor {
          width: 424px;
          height: 80px;
          color: #000;
          font-family: Poppins;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 18px 0 22px 0;
        }
        h5 {
          color: #9f9f9f;
          width: 38px;
          height: 21px;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 17px 0;
        }
        .list_size input {
          border-radius: 5px;
          background: #f9f1e7;
          border: none;
          width: 30px;
          height: 30px;
          margin-right: 16px;
          &:hover {
            background-color: #b88e2f;
            color: #fff;
          }
        }
        .list_color {
          display: flex;
          input {
            width: 30px;
            height: 30px;
            border-radius: 50px;
            border: none;
          }
          .color1 {
            background: #816dfa;
            margin-right: 16px;
          }
          .color2 {
            background: #2b9549;
            margin-right: 16px;
          }
          .color3 {
            background: #db4605;
          }
        }
        .operation {
          display: flex;
          margin-top: 32px;
          border-bottom: 1px solid #d9d9d9;
          .counter {
            width: 123px;
            height: 64px;
            border-radius: 10px;
            border: 2px solid #9f9f9f;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 18px;
            margin-bottom: 60px;
            cursor: pointer;
            span {
              width: 100%;
              text-align: center;
              font-size: 16px;
              font-weight: 500;
              user-select: none;
            }
          }
          .add {
            width: 215px;
            height: 64px;
            border-radius: 15px;
            border: 2px solid #9f9f9f;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &:hover {
              background: #b88e2f;
              color: #fff;
            }
          }
          .compare {
            width: 215px;
            height: 64px;
            border-radius: 15px;
            border: 2px solid #9f9f9f;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &:hover {
              background: #b88e2f;
              color: #fff;
            }
          }
        }
        .contact {
          display: flex;
          margin-top: 41px;
          .left {
            color: #9f9f9f;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 16px;
            p {
              margin-bottom: 12px;
            }
          }
          .mid {
            p {
              margin-bottom: 12px;
            }
            color: #9f9f9f;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          .right {
            color: #9f9f9f;
            margin-left: 12px;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            p {
              margin-bottom: 12px;
            }
            svg {
              width: 20px;
              height: 20px;
              margin-right: 25px;
            }
          }
        }
      }
    }
  }
  .similar_product {
    h4 {
      text-align: center;
      font-size: 36px;
      font-weight: 500;
      width: 309px;
      height: 54px;
      margin-top: 55px;
      margin-left: 588px;
      margin-bottom: 26px;
    }
    .products {
      max-width: 1236px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
      //   margin-top: 63px;
      .items_products_main {
        position: relative;
        .item-products {
          background: var(--Color-Light-BG, #f4f5f7);
          .image_products {
            position: relative;
            img {
              width: 285px;
              height: 301px;
            }
            i {
              position: absolute;
              top: 24px;
              right: 24px;
            }
            p {
              position: absolute;
              top: 36px;
              right: 25px;
              color: var(--Color-White, #fff);
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              width: 42px;
              height: 24px;
              line-height: 150%;
            }
          }
          .products_infor {
            height: 129px;
            h2 {
              margin-top: 16px;
              margin-left: 16px;
              line-height: 28.8px;
              width: 123px;
              height: 29px;
              font-size: 24px;
              font-weight: 600;
            }
            p {
              width: 138px;
              height: 34px;
              font-size: 16px;
              font-weight: 500;
              margin-top: 8px;
              margin-left: 16px;
              color: #898989;
              line-height: 24px;
            }
            .fix_price {
              margin: 8px 20px 30px 16px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .price1 {
                width: 131px;
                height: 30px;
                font-size: 20px;
                font-weight: 600;

                line-height: 30px;
              }
              .price2 {
                width: 102px;
                height: 24px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-decoration: line-through;
                color: #898989;
              }
            }
          }
        }
        .items-hover {
          background: rgba(0, 0, 0, 0.5);
          opacity: 0;
          position: absolute;
          top: 0;

          width: 100%;
          height: 100%;
          .btn_action {
            width: 202px;
            height: 48px;
            background: var(--Color-White, #fff);
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--Primary, #b88e2f);
            font-size: 16px;
            font-weight: 600;
            line-height: 150%;
            margin-left: 41px;
            margin-top: 175px;
          }
          .btn_card {
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 16px;
            a {
              color: var(--Color-White, #fff);
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
              margin-top: 24px;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
            i {
              width: 16px;
              height: 16px;
              margin-right: 2px;
              margin-top: 28px;
            }
            .share {
              display: flex;
            }
            .compare {
              display: flex;
            }
            .like {
              display: flex;
            }
          }
        }
        .items-hover:hover {
          opacity: 1;
          transition: 1s;
        }
      }
    }
  }
  .see_more {
    margin-top: 32px;
    input[value='Show More'] {
      width: 89px;
      height: 24px;
      font-size: 16px;
      font-weight: 600;
      color: #b88e2f;
    }
    input[type='button'] {
      width: 245px;
      height: 48px;
      border: 1px solid #b88e2f;
      background: #fff;
      margin-left: 598px;
      margin-bottom: 81px;
    }
  }
  footer {
    width: 1440px;
    height: 505px;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    .main_footer {
      display: flex;
      width: 1240px;
      margin-left: 100px;

      h4 {
        margin-top: 48px;
        margin-bottom: 55px;
        color: #9f9f9f;
        font-size: 16px;
        font-weight: 500;
      }
      li {
        margin-bottom: 46px;
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          &:hover {
            color: #ff6c44;
          }
        }
      }
      .infor-footer {
        h3 {
          color: #000;
          font-size: 24px;
          font-weight: 700;
          margin: 48px 338.01px 50px 0;
        }
        p {
          margin-top: 50px;
          color: #9f9f9f;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .links {
        margin-right: 144px;
        width: 68px;
      }
      .helps {
        width: 140px;
        margin-right: 72px;
      }
      .email {
        width: 286px;
        height: 101px;
        .contact {
          display: flex;
          input {
            border: none;
          }
          .contact1 {
            hr {
              margin-right: 11px;
              margin-top: 3px;
            }
            input {
              color: #9f9f9f;
              width: 173px;
              height: 21px;
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .contact2 {
            hr {
              margin-top: 3px;
            }
            input {
              width: 75px;
              height: 21px;
              color: #000;
              font-family: Poppins;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .author {
      hr {
        margin: 48px 100px 35px 100px;
      }
      p {
        width: 230px;
        height: 24px;
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        margin-left: 102.01px;
        margin-bottom: 38px;
        line-height: 1.5;
      }
    }
  }
}
